body {
    margin: 0;
}

.jumbotron {
    background-image: url("../img/forest2.jpg");
    background-size: 100vw 300px;
    height: 300px;
    margin-bottom: 20px;
}

#title, .jumbotron p {
    color: white;
    text-align: center;
}

.box-lang {
    position: fixed;
    top: 20px;
    z-index: 999999;
    right: -60px;
    background-color: #000000;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px 0 0 20px;
    opacity: 0.3;
    transition: 1s ease-in-out;
    color: #fff;
}

.box-lang:hover {
    transform: translateX(-60px);
    opacity: 1;
    transition: 1s ease-in-out;
}

.icon-left-lang, .links-lang, .links-lang a {
    display: inline;
}

.links-lang a {
    text-decoration: none;
    color: #fff;
}

.links-lang a:hover {
    color: #C31D27;
}

.icon-left-lang, .links-lang a {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 3px;
    padding-right: 3px;
}

#number {
    padding: 1%;
    color: white;
    text-align: center;
    border-radius: 0.5em;
    background-color: goldenrod;
}

#text-justify {
    text-align: justify;
}

#decoration_one_line {
    text-decoration: overline;
}

#decoration_two_line {
    background-image:url(../img/lineas2.gif);
    background-repeat:repeat-x;
    margin-top: -2px;
    padding-top: 2px;
}

#decoration_three_line {
    background-image: url(../img/lineas3.gif);
    background-repeat: repeat-x;
    margin-top: -4px;
    padding-top: 4px;
}

/*Valores alternativos*/
.panel-heading {
    width: 70%;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: -15px;
    border-radius: 0.2em;
    background-color: goldenrod;
}

.panel-heading a, .panel-heading a:hover {
    color: white;
    text-decoration: none;
}

.panel-body {
    margin-left: -15px;
}