body {
    margin: 0;
    /*background-color: aliceblue;*/
}

.jumbotron {
    /*background: #000064;
    background: -webkit-linear-gradient(to right, #1BADD8, #00003E);
    background: linear-gradient(to right, #1BADD8, #00003E);*/
    /*background-image: url("https://mdbootstrap.com/img/Photos/Others/forest2.jpg5");*/
    background-image: url("../img/forest2.jpg");
    background-size: 100vw 300px;
    height: 300px;
    margin-bottom: 20px;
}

#title, .jumbotron p {
    color: white;
}

#TabsPanel {
    margin-top: -5%;
}